@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


.social-container {
    /* background: #eee; */
    padding: 1px 1px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
  }

a.social {
    margin: 0 1rem;
    align-items: center;
    transition: transform 250ms;
    display: inline-block;
  }

a.linkedin {
    color: #000;
  }

a.github {
    color: #000;
  }

a.social:hover {
    transform: translateY(-2px);
  }